*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu1{
    padding: 27px;
    background-color:  rgb(48, 47, 47);
    
    

}

.eduosa{

    color: rgb(20, 202, 172);   
    text-decoration: none; 
    position: absolute;
    top: 18px;
    right: 210px;
    

}


.img1{

    position: absolute;
    top: 8px;
    right: 150px;
}

.img2{

    position: absolute;
    top: 8px;
    right: 110px;
    margin: 0;


}

.hamburguesa {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90px;
    left: 50px;
    transform: translate (-50%, -50%) scale(6);
    cursor: pointer;
    display: none;
}

.bar {
    background: #fff;
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}


.menu-icon {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    height: 3px;
    width: 25px;
    margin: 6px auto;
    background-color: #14caac;
    transition: 0.4s;
}


.hamburguesa.active + .menu-container {
    display: flex;
}

header{

    display: flex;
    height: 70px;
    background-image: url(imagenes/EA-Sports-FC-24.jpg);
    background-position: center center;
    background-size: 100%;
    justify-content: space-between;     
    align-items: center;
    padding: 70px;
    border-radius: 20px 20px 0 0 ;
    
}


.logo img{

    height: 45px;
    position: absolute;
    top: 80px;

}

.nombreeduos{

    position: absolute;
    top: 65px;
    left: 170px;

}



.nav1{

    position: absolute;
    top: 140px;
    left: 42px;
    

}
.nav1 a{

    color: rgb(20, 202, 172);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    margin: 7px;

}


.nav2 {


    position: absolute;
    top: 70px;
    right: 100px;
    
}

.nav2 a {

    
    color: rgb(20, 202, 172);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    margin: 7px;


}


.iniciarcesion {
    position: relative;
    top: 3px;
    left: 430px;
    padding: 0;
    max-width: 40px;
    display: flex;
    
}

.iniciar{
    color: rgb(20, 202, 172);
    position: relative;
    top: 3px;
    left: 290px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}


body {
    margin: 0;
    font-family: sans-serif;    
    background-color: rgb(48, 48, 48);
    
}

h2{color: rgb(20, 202, 172);}
h3{color: rgb(20, 202, 172);}






img{
    display: flex; 
    height: 40px;
    border-radius: 12px;
    margin-left: 45px;
    margin-right: 10px;
}






header h1{
    color: rgb(20, 202, 172);
}





.container {
    
    width: 100%;
    height: 100vh;
    background-color: #4e4e4e;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form-content{

    width: 100%;
    max-width: 450px;
    background-color: #2c2f35;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;

}

.form-content h1{

    font-size: 30px;
    margin-bottom: 60px;
    color: white;
    position: relative;

}

.form-content h1::after{

    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #14caac;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);

}

.input-field{

    background-color: #a9adb4;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
    margin-bottom: 40px;

}

input{

    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #fff;

}

input::placeholder{

    color: #fff;

}

.input-field i{

    margin-left: 15px;
    color: #14caac;

}

form p{

    color: #fff;
    text-align: left;
    font-size: 13px;
    

}

form p a{

    color: #14caac;
    margin-left: 5px;

}

.btn-field {

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn-field button{

    flex-basis: 48%;
    font-size: 16px;
    background-color: #14caac;
    color: #fff;
    height: 48px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;

}

.input-group{

    height: 250px;

}

.btn-field button.disable{

    background-color: #EAEAEA;
    color: #2c2f35;

}



.footer{

    margin: 0;
    height: 220px;
    background-color: rgb(20, 202, 172);
    border-radius: 0px 0px 20px 20px;
    position: relative;
    
}

.logofooter{

    display: flex;
    align-items: center;
    position: absolute;
    top: 70px;
    
}

.logofooter img{

    border-radius: 12px 12px 22px 22px;
}




.menufooter{

    position: absolute;
    top: 10px;
    left: 370px;
    text-decoration: column;
    text-align: center;
    
    


}

.menufooter a{
    margin-bottom: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;

}


    
.social-icons {
    font-size: 24px;
    justify-content: center;
    position: absolute;
    top: 50px;
    right:  790px;
    padding-right: 0;
    

}
    
.social-icon {      
    color: white;
    margin: 0 10px;
    
}

.social-icons h4{
    
    position: relative;
    left: 25px;
    margin: 0;
    margin-bottom: 10px;
    color: white
}
    




.terminos{

    position: absolute;
    top: 10px;
    right: 250px;
    text-decoration: column;
    text-align: center;

}

.terminos a{

    margin-bottom: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;


}


.social-icon:hover,
.menufooter a:hover{

    color: black;

}

.terminos a:hover{

    color: rgb(0, 0, 0);


}






.relleno-footer{

    height: 35px;
    background-color:  rgb(48, 47, 47);
    margin: 0;

}

@media screen and (max-width: 768px) {

    body{
     margin: 0;


 
    }
 
     
 
     .hamburguesa{
 
         position: absolute;
         left: 380px;
         top: 88px;
     }
 
     .menunav{
 
         position: absolute;
         top: 140px;
         left: 0px;
         height: 160px;
         width: 100%;
         background-image: linear-gradient(
             0deg,
             rgb(0,0,0,0.5),
             rgb(0,0,0,0.5)
         )
         ,url(imagenes/realmadrid-tifo.jpg);
     
         background-size: 100%;
         background-position: center;
         border-radius: 15px;
         display: none;
         opacity: 0;
 
     }
 
    
 
     .nav1 {
 
         position: absolute;
         top: 20px;
         left: 100px;
         
     }
     
     .nav2{
 
         position:absolute;
         top: 20px;
         
     }
 
     .nav1 a{
 
         display: block;
         flex-direction: column;
         margin-bottom: 15px;
 
     }
 
     .nav2 a{
 
         display: block;
         flex-direction: column;
         margin-bottom: 15px;
     }
 
     @keyframes menunav {
 
         from{opacity: 0;}
         to{opacity: 1;}
         
     }
 
     .menunav.activado{
 
         display: flex;
         animation: menunav 350ms ease-in-out both;
     }
 
}     